# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Temporary files
*.swp
*~

# Core dumps
core

# Code coverage
.coverage
/htmlcov/

# Pweave outputs
/examples/*.html
/examples/figures/

# setup.py outputs
/*.egg-info/
/.eggs/
/build/
/dist/

# mkdocs outputs
/site

# IDE configuration
.vscode
.idea

# Hypothesis files
.hypothesis/
